*
{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

:root
{
    --cor-primaria: #BEFFEC;
    --cor-secundaria: #F0F8FF;
}

body
{
    display: flex;
}

main
{
    width: 100%;
    height: 100vh;
    padding: 8vh 10vw;
    background-color: var(--cor-secundaria);
}

nav
{
    width: 40vw;
    background-color: var(--cor-primaria);


    & ul
    {
        display: flex;
        flex-direction: column;
        margin-top: 15vh;
        gap: 15px;
        
        & li
        {
            width: 100%;
            background-color: var(--cor-secundaria);
            font-size: 1.35rem;
            padding: 15px 15px 15px 4rem;
        }
    }
}

#pesquisar
{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid black;
    width: 65%;
}

textarea
{
    resize: none;
}